[submodule "alphahouse"]
	path = alphahouse
	url = bitbucket.org:hickeyjohnteam/alphahouse.git
[submodule "alphacmakefiles"]
	path = alphacmakefiles
	url = bitbucket.org:hickeyjohnteam/alphacmakefiles.git
